# **Relacionamento no Modelo Lógico**
---

## Requisitos da Aula

- Banco de Dados Relacional
- DER
- Relações
- Modelo Lógico
- Tipos de Dados

---

Agora iremos retornar ao assunto de relacionamentos, os mesmos mostrados na aula sobre Relações, porém, desta vez, iremos mostrar como elas funcionam no modelo lógico.

Para isso, iremos partir de um modelo conceitual feito anteriormente, justamente na aula sobre Relações. Abra o arquivo em questão no **brModelo**:

<div style="display: flex; justify-content: center">
    <img src="../assets/11-01.png" alt="MySQL Workbench" />
</div>

O desafio desse tutorial é justamente montar o modelo lógico do banco mostrado na figura acima.

Logo de cara já é possível afirmar que precisaremos, no mínimo, de duas tabelas: **Proprietário** e **Imóvel**. Então vamos lá, abrindo o **MySQL Workbench**, e já vamos logo na seção de modelos lógicos para criarmos um novo modelo lógico do zero:

<div style="display: flex; justify-content: center">
    <img src="../assets/11-02.png" alt="MySQL Workbench" />
</div>

Logo após, dê um clique duplo em **Add Diagram**:

<div style="display: flex; justify-content: center">
    <img src="../assets/workbench-04.png" alt="MySQL Workbench" />
</div>

Agora, crie uma tabela chamada **Proprietario** (sem acento) com os campos:

- id_proprietario
- nome
- cpf

### Algumas observações

1. Observe que no modelo conceitual o **id_proprietario** está marcado como **atributo identificador**, o que identifica esse atributo como campo **chave primária** da tabela no modelo lógico.
2. O campo **nome** deve ser **obrigatório**, já que não é possível cadastrar alguém sem nome.
3. Podem existir pessoas com nomes **idênticos**. Portanto, esse campo **não pode ser not null**.
4. O campo **cpf** também é **obrigatório**, já que não podemos cadastrar alguém sem CPF, mas neste caso, **não podem existir duas pessoas com o mesmo CPF**, já que ele é um cadastro único. Portanto, esse campo deve ser **obrigatoriamente UNIQUE**.

Observe como vai ficar a tabela abaixo:

<div style="display: flex; justify-content: center">
    <img src="../assets/11-03.png" alt="MySQL Workbench" />
</div>

Segue a configuração da tabela:

- **id_proprietario**: INT. Marcar as colunas: PK, NN e AI.
- **nome**: VARCHAR(255). Marcar a coluna: NN.
- **cpf**: VARCHAR(14). Marcar as colunas: NN e UQ.

Observe que o **cpf**, apesar de ser um número, não é `INT`, mas sim `VARCHAR`. Isso acontece por causa do que chamamos de **máscara de entrada**. Em resumo: o número do CPF contém caracteres que o desqualificam como um valor numérico para o banco de dados, já que ele possui os caracteres **.** (ponto) e **-** (hífen). Além disso, esse é um número que não será utilizado em cálculos. Portanto, podemos dexá-lo como `VARCHAR`.

Agora podemos criar a outra tabela: a do **Imovel** (também sem acento). Observe que no modelo conceitual existe um campo chamado **endereço**, que é multivalorado. Quando isso acontece, precisamos dividí-lo em vários campos. Esses campos são mostrados no modelo conceitual como sub-atributos do atributo endereço. Veja como vai ficar:

<div style="display: flex; justify-content: center">
    <img src="../assets/11-04.png" alt="MySQL Workbench" />
</div>

Pronto! Agora temos duas tabelas, e conforme diz o modelo conceitual, estão, ou pelo menos deveriam estar, relacionadas. Mas não se preocupe: é exatamente esse o nosso próximo passo. Feche as propriedades da tabela **Imovel**.

Agora, observe as ferramentas do lado esquerdo da tela principal do modelo lógico, onde você puxou a ferramenta **tabela**:

<div style="display: flex; justify-content: center">
    <img src="../assets/11-05.png" alt="MySQL Workbench" />
</div>

Na área marcada se encontram as ferramentas de relacionamento que nós vamos utilizar agora. Observe que elas utilizam a nomenclatura aprendida na aula sobre **Relações**, lembra? Para utilizá-las, precisaremos definir o tipo de relação entre as duas tabelas. Só que isso já foi feito lá no brModelo. É para isso que serve o modelo conceitual. Observe:

<div style="display: flex; justify-content: center">
    <img src="../assets/11-06.png" alt="MySQL Workbench" />
</div>