# **Linguagem de Definição de Dados - DDL**
---

## Requisitos da Aula

- Banco de Dados Relacional
- Entidade e Atributos
- Instalação MySQL
- Modelo Lógico
- Tipo de Dados
- Introdução ao Modelo Físico
- SQL
- Meu Primeiro Banco

---

Agora que finalmente começamos a trabalhar com modelos físicos, podemos detalhar mais sobre como funcionam os comandos **DDL**.

Começe abrindo o **MySQL Workbench** e em seguida abra a conexão **Local instance MySQL80** para entrarmos no modelo lógico:

<div style="display: flex; justify-content: center">
    <img src="../assets/13-12.png" alt="MySQL Workbench" />
</div>

Quando abrir a conexão com o servidor, você irá dar de cara com a mesma tela da qual terminamos a aula anterior:

<div style="display: flex; justify-content: center">
    <img src="../assets/16-01.png" alt="MySQL Workbench" />
</div>

Para o *script* dessa aula, você pode continuar o mesmo *script* da aula anterior onde paramos, ou pode criar um novo *script*, não importa, já que a edição do *script* não influencia diretamente em uma base de dados específico, apenas a execução dos seus comandos.

Para facilitar o tutorial, vamos criar um novo *script* para separar o conteúdo da aula passada dessa aula. Para isso, vá em **File->New Query Tab**, ou então, use a tecla de atalho **Ctrl+T**:

<div style="display: flex; justify-content: center">
    <img src="../assets/16-02.png" alt="MySQL Workbench" />
</div>

Ao fazer isso, irá abrir uma nova guia no editor de código. Você pode fechar a guia que estava aberta anteriormente, se assim desejar, ou não. De qualquer forma, vamos começar um novo *script*, porém, em cima da mesma base criada na aula anterior.

Para isso, vamos começar executando o comando abaixo:

#### SQL

~~~sql
-- seleciona a base de dados
USE meu_primeiro_banco;
~~~

Como visto na aula passada, isso fará com que o banco `meu_primeiro_banco` seja selecionado:

<div style="display: flex; justify-content: center">
    <img src="../assets/16-03.png" alt="MySQL Workbench" />
</div>

Como aprendemos anteriormente, sabemos que os comandos **DDL** são para definição de dados, e que os 3 mais importantes são **CREATE**, **ALTER** e **DROP**. Já aprendemos sobre o **CREATE** na aula passada. Hoje vamos aprender sobre os outros comandos.

Observe que na base de dados `meu_primeiro_banco`, da qual estamos trabalhando agora, temos (por hora) uma única tabela, com apenas dois atributos: **id_usuario** e **nome**.

Mas vamos supor que as regras de negócio mudaram (coisa que acontece o tempo todo em uma empresa de TI), e agora a tabela **usuario** precisa de mais campos. Vejamos como está agora o modelo conceitual:

<div style="display: flex; justify-content: center">
    <img src="../assets/16-04.png" alt="Modelo Conceitual" />
</div>

Agora, vamos adaptar para o modelo lógico:

<div style="display: flex; justify-content: center">
    <img src="../assets/16-05.png" alt="Modelo Lógico" />
</div>

Para conseguirmos alterar essa tabela no modelo físico, se executarmos o comando `CREATE TABLE` alterando as colunas recém-cradas, ele irá retornar um erro. Observe:

<div style="display: flex; justify-content: center">
    <img src="../assets/16-06.png" alt="MySQL Workbench" />
</div>

Obviamente, ele não irá atualizar a tabela, pois o comando não era para atualizar, mas sim para criar uma tabela, e isso caso ela não existisse.

## ALTER
---

Dito isso, o comando para atualizar uma tabela que já foi criada anteriormente é `ALTER`. Nesse caso, precisaremos adicionar as colunas `cpf VARCHAR(14) NOT NULL UNIQUE` e `email VARCHAR(255) NOT NULL UNIQUE`. Para isso, vamos executar o comando abaixo e atualizar o schema:

#### SQL

~~~sql
-- adicionando campos na tabela 'usuario'
ALTER TABLE usuario
ADD cpf VARCHAR(14) NOT NULL UNIQUE,
ADD email VARCHAR(255) NOT NULL;
~~~

Observe que o schema já foi alterado:

<div style="display: flex; justify-content: center">
    <img src="../assets/16-07.png" alt="MySQL Workbench" />
</div>

Mesmo assim, ainda cometemos um erro: ao adicionar a coluna `email`, esquecemos de definí-lo como **campo único**. Portanto, precisaremos fazer outra alteração na tabela, mas desta vez não é para adicionar um campo, mas para corrigí-lo. Execute o comando abaixo:

#### SQL

~~~sql
-- alterando um campo de uma tabela
ALTER TABLE usuario
MODIFY email VARCHAR(255) NOT NULL UNIQUE;
~~~

Pronto. Só que agora, a regra de negócio foi mudada mais uma vez: o cliente agora não quer que o campo `cpf` seja cadastrado no banco, e que o campo `nome` seja descrito de forma mais clara como `nome_completo`.

Tudo bem. Podemos fazer essa mudança. Execute o comando abaixo e atualize o schema:

#### SQL

~~~sql
-- alterando o nome de um campo e excluindo outro
ALTER TABLE usuario
CHANGE nome nome_completo VARCHAR(255) NOT NULL,
DROP COLUMN cpf;
~~~

<div style="display: flex; justify-content: center">
    <img src="../assets/16-08.png" alt="MySQL Workbench" />
</div>

Além disso, a tabela `usuario` não se chamará mais de `usuario`, mas sim de `cliente`, ou seja, haverá uma mudança no nome da entidade. Portanto, precisaremos executar o comando abaixo e atualizar o schema:

#### SQL

~~~sql
-- alterando o nome da tabela
RENAME TABLE usuario TO cliente;
~~~

<div style="display: flex; justify-content: center">
    <img src="../assets/16-09.png" alt="MySQL Workbench" />
</div>

Pelo menos até este ponto da aula, o script deverá estar igual ao que está logo abaixo:

#### SQL

~~~sql
-- seleciona a base de dados
USE meu_primeiro_banco;

-- adicionando campos na tabela 'usuario'
ALTER TABLE usuario
ADD cpf VARCHAR(14) NOT NULL UNIQUE,
ADD email VARCHAR(255) NOT NULL;

-- alterando um campo de uma tabela
ALTER TABLE usuario
MODIFY email VARCHAR(255) NOT NULL UNIQUE;

-- alterando o nome de um campo e excluindo outro
ALTER TABLE usuario
CHANGE nome nome_completo VARCHAR(255) NOT NULL,
DROP COLUMN cpf;

-- alterando o nome da tabela
RENAME TABLE usuario TO cliente;
~~~

## DROP
---

Agora que já sabemos como alterar uma tabela, temos que aprender como excluir uma. Para isso, precisaremos excluir a tabela `cliente`, lembrando que mudamos o nome anteriormente. Execute o comando abaixo e atualize o schema:

#### SQL

~~~sql
-- excluir a tabela
DROP TABLE IF EXISTS cliente;
~~~

<div style="display: flex; justify-content: center">
    <img src="../assets/16-10.png" alt="MySQL Workbench" />
</div>

Observe que o banco agora não possui mais a tabela `cliente`. Consequentemente, o banco agora não possui mais tabela nenhuma, já que essa tabela era a única que existia.

**Tome muito cuidado ao executar esse comando: ele exclui todos os registros que haviam dentro da tabela excluída. Não só isso: uma vez executado, esse comando não tem volta. Não há Ctrl+Z que resolva. Use-o com parcimônia.**

Após excluírmos a tabela do banco, agora vamos excluir o banco inteiro. Para isso, execute o comando abaixo e atualize o schema:

#### SQL

~~~sql
-- excluir o banco
DROP DATABASE IF EXISTS meu_primeiro_banco;
~~~

<div style="display: flex; justify-content: center">
    <img src="../assets/16-11.png" alt="MySQL Workbench" />
</div>

Observe que agora é o banco que deixa de existir. Assim como no caso do `DROP TABLE`, o `DROP DATABASE` exclui todos os dados cadastrados em qualquer tabela desse banco, assim como exclui todas as tabelas que ainda existiam nele, e também é um comando sem volta. Use-o com muito cuidado.

Ao final da aula, o script final deve ser esse:

#### SQL

~~~sql
-- seleciona a base de dados
USE meu_primeiro_banco;

-- adicionando campos na tabela 'usuario'
ALTER TABLE usuario
ADD cpf VARCHAR(14) NOT NULL UNIQUE,
ADD email VARCHAR(255) NOT NULL;

-- alterando um campo de uma tabela
ALTER TABLE usuario
MODIFY email VARCHAR(255) NOT NULL UNIQUE;

-- alterando o nome de um campo e excluindo outro
ALTER TABLE usuario
CHANGE nome nome_completo VARCHAR(255) NOT NULL,
DROP COLUMN cpf;

-- alterando o nome da tabela
RENAME TABLE usuario TO cliente;

-- excluir a tabela
DROP TABLE IF EXISTS cliente;

-- excluir o banco
DROP DATABASE IF EXISTS meu_primeiro_banco;
~~~

Salve o script com o nome e local que desejar.

Abraços e até a próxima.