# **Relacionamento no Modelo Físico**
---

## Requisitos da Aula

- Banco de Dados Relacional
- Entidade e Atributos
- Relações
- Relacionamento Modelo Lógico
- SQL
- Meu Primeiro Banco
- DDL

---

Na aula de hoje iremos aprender sobre como relacionar duas tabelas no modelo físico. Mas antes, precisaremos criar um novo banco, já que o da aula anterior foi destruído graças ao comando `DROP`, lembra? Então, mãos à obra.

## Preparando o banco
---

Desta vez, vamos usar como base o banco criado na aula **Relações**. Abra o **MySQL Workbench** e abra o primeiro modelo lógico criado na aula **Relacionamento Modelo Lógico**:

<div style="display: flex; justify-content: center">
    <img src="../assets/11-08.png" alt="Modelo lógico" />
</div>


Não vamos perder tempo com explicações. Já aprendemos como criar um banco e também como criar uma tabela. Portanto, já vamos colocar a mão na massa e criar um banco chamado `banco_imobiliario`, e depois criar a tabela `proprietario`. O *script* até o momento fica o seguinte:

#### SQL

~~~sql
-- cria o banco
CREATE DATABASE IF NOT EXISTS banco_imobiliario;

-- seleciona o banco
USE banco_imobiliario;

-- cria a tabela 'proprietario'
CREATE TABLE IF NOT EXISTS proprietario(
    id_proprietario INT NOT NULL AUTO_INCREMENT,
    nome VARCHAR(255) NOT NULL,
    cpf VARCHAR(14) NOT NULL UNIQUE,
    PRIMARY KEY (id_proprietario)
);
~~~

Repare que ainda não criamos a tabela `imovel`. Isso acontece porque há uma novidade na criação dessa tabela, e é isso que iremos aprender nessa aula.

A criação da tabela `imovel` segue o mesmo padrão da criação da tabela `proprietario`, com a diferença de que agora temos que colocar também, além da chave primária, a **chave estrangeira**.

Funciona assim: inserimos todos os campos na tabela normalmente, com seus tipos, propriedades e ranges certinho. Depois, criamos um campo idêntico ao campo da chave primária da tabela `proprietario`, e por último, definimos esse campo como chave estrangeira através do comando `FOREIGN KEY (nome_do_campo_chave) REFERENCES nome_da_outra_tabela(chave_primaria_da_outra_tabela);`. O comando completo da criação da tabela `imovel`está logo abaixo:

#### SQL

~~~sql
-- cria a tabela 'imovel'
CREATE TABLE IF NOT EXISTS imovel(
    id_imovel INT NOT NULL AUTO_INCREMENT,
    cep VARCHAR(10) NOT NULL,
    uf CHAR(2) NOT NULL,
    cidade VARCHAR(255) NOT NULL,
    bairro VARCHAR(255) NOT NULL,
    logradouro VARCHAR(255) NOT NULL,
    complemento VARCHAR(255),
    numero VARCHAR(255) NOT NULL,
    id_proprietario INT NOT NULL, -- campo que será a chave estrangeira
    PRIMARY KEY (id_imovel),
    FOREIGN KEY (id_proprietario) REFERENCES proprietario(id_proprietario) -- define a chave estrangeira
);
~~~

Pronto! Agora temos duas tabelas relacionadas entre si. Segue abaixo o script até o momento:

#### SQL

~~~sql
-- cria o banco
CREATE DATABASE IF NOT EXISTS banco_imobiliario;

-- seleciona o banco
USE banco_imobiliario;

-- cria a tabela 'proprietario'
CREATE TABLE IF NOT EXISTS proprietario(
    id_proprietario INT NOT NULL AUTO_INCREMENT,
    nome VARCHAR(255) NOT NULL,
    cpf VARCHAR(14) NOT NULL UNIQUE,
    PRIMARY KEY (id_proprietario)
);

-- cria a tabela 'imovel'
CREATE TABLE IF NOT EXISTS imovel(
    id_imovel INT NOT NULL AUTO_INCREMENT,
    cep VARCHAR(10) NOT NULL,
    uf CHAR(2) NOT NULL,
    cidade VARCHAR(255) NOT NULL,
    bairro VARCHAR(255) NOT NULL,
    logradouro VARCHAR(255) NOT NULL,
    complemento VARCHAR(255),
    numero VARCHAR(255) NOT NULL,
    id_proprietario INT NOT NULL,
    PRIMARY KEY (id_imovel),
    FOREIGN KEY (id_proprietario) REFERENCES proprietario(id_proprietario)
);
~~~

### E se tivéssemos errado a criação da tabela?

Caso a tabela tivesse sido criada de forma igual à tabela `proprietario`, ou seja, com o código abaixo, sem a chave estrangeira:

#### SQL

~~~sql
-- cria a tabela 'imovel'
CREATE TABLE IF NOT EXISTS imovel(
    id_imovel INT NOT NULL AUTO_INCREMENT,
    cep VARCHAR(10) NOT NULL,
    uf CHAR(2) NOT NULL,
    cidade VARCHAR(255) NOT NULL,
    bairro VARCHAR(255) NOT NULL,
    logradouro VARCHAR(255) NOT NULL,
    complemento VARCHAR(255),
    numero VARCHAR(255) NOT NULL,
    PRIMARY KEY (id_imovel)
);
~~~

Aí teríamosque corrigir a tabela usando o `ALTER`. Veja como ficaria:

#### SQL

~~~sql
-- alterando a tabela imovel
ALTER TABLE imovel
ADD id_proprietario INT NOT NULL AFTER complemento,
ADD FOREIGN KEY (id_proprietario) REFERENCES proprietario(id_proprietario);
~~~